* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #111;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 80px;
}

header .logo {
    float: left;
    margin-top: 5px;
    display: block;
    height: 80px;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 30px 32px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #333;
}

.center {
    margin: auto;
    width: 375px;
}

.center h1 {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 14px 14px;
}

.light {
    color: #111;
    background-color: #fff;
}

.dark {
    color: #fff;
    background-color: #111;
}

.joke-container {
    margin: auto;
    margin-top: 20px;
    width: 700px;
}
